<div class = "container-fluid">
  <div class="main">
  <div class="row">

  <%= render partial: "form", locals: {empresa: @empresa, itdcon: @empresa.itdcons.build}%>
      

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="shadow p-3 mb-5 bg-white rounded">
              <h4> ITDs Históricos </h4>
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo ITD
              </button>
                 <% itds = @empresa.itdcons.all %>
                 <% idcol = "id=flush-collapse" %>
                    <% itds.each_with_index do |itd, index| %>
                    <% num = (index).to_s %> 
                    <% @str = idcol + (index).humanize.capitalize + ' class="accordion-collapse collapse" aria-labelledby="flush-heading' + num + '" data-bs-parent="#accordionFlushExample"' %>

                
                    <div class="shadow p-3 mb-5 bg-white">
                      <%= link_to 'ITD realizado el: ' + itd.created_at.to_s, empresa_itdcon_path(@empresa.id, itd.id), class:"itdlink" %>
                    </div>
                    <% end %>
  </div>
  </div>
</div>