<%= turbo_frame_tag "result_#{dat}" do %>
  <div class="d-flex justify-content-center">
    <div>
      <p class="text-center"><b>Aspiración del<br>Capital <%=dat.capitalize%></b></p>
      <%if aspiracion_dat[dat]%>
        <h4 class="text-center"><b><%=aspiracion_dat[dat].round %></b></h4>
      <%end%>
    </div>
  </div>
<%end%>