<div class="main mt-4 shadow p-3 mb-5 rounded mt-5d">
  <h1 class="text-center" style="margin-bottom: 60px">Resultados Medición</h1>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">   
              
      <%= render partial: "results_graphs/maturity_result", locals: {itd: @itdsin}%>
      
      <%= render partial: "results_graphs/dat_result", locals: {itd: @itdsin, points_dat: @points_dat}%>

      <%= render partial: "results_graphs/hab_result", locals: {itd: @itdsin, points_hab: @points_hab}%>
    </div>
  </div>
</div>
          