<div class="col-lg-8 mx-lg-auto text-align: justify;
  text-justify: inter-word" >
	<h3>Sobre nosotros</h3>

	Somos un grupo de profesionales con vasta experiencia práctica. Nos involucramos activamente en el quehacer de nuestros clientes, apoyándolos con metodologías y herramientas altamente efectivas, para crear espacios de mejora permanente.

</div>