// Entry point for your Sass build

.carousel-control-next {
  right: -30px;
}

.sidenav {
  height: 100%;
  width: 110px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #808080;
  padding-top: 20px;
}
.carousel-item {
  height: 32rem;
  width: auto;
  position: relative;
}
.navelement {
  text-decoration: none;
  text-align: center;
  padding: 6px 0px 6px 0px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: block;
}
.navelement:hover{
  text-decoration: none;
  color: white;
}
.navimage {
  text-decoration: none;
  text-align: center;
  height: 70px;
  width: 70px;
}
.navbuttonelement {
  background-color: transparent;
  border-color: transparent;
}
.main {
  flex: 1;
  margin-left: 110px; /* Same as the width of the sidenav */
}

.aligncenter {
  align-items: center;
}

.carrouselitem {
  height:100%;
}

.itdlink {
  text-decoration: none;
  color: black;
  display: block;
}
.itdlink:hover{
  text-decoration: none;
  color: black;
}
.marginright {
  margin-right: 10px;
}

.back {
  background-color: red;
}

.accordion-button:not(.collapsed) {
  border-color: white;
  color: black;
  background-color: white;
}

input::placeholder{
  font-style: italic;
}